#main {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.titlebar {
  background: linear-gradient(#87CEEB, #1E90FF);
  margin-bottom: 10px;
  height: 50px;
  line-height: 45px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 15px;
}

.titlebar .logo {
  height: 3em;
  padding: 5px;
}

.page-button {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-weight: bold;
  background-color: #3B7BBE;
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 15px;
  font-size: 1.1em;
}

.page-button:hover {
  background-color: #3FA8E0;
}

.breadcrumbs {
  color: white;
  font-weight: bold;
}
