.main {
  width: 100%;
  max-width: 500px;
}

.titlebar {
  background: linear-gradient(#87CEEB, #1E90FF);
  margin-bottom: 10px;
}

.titlebar .logo {
  height: 3em;
  padding: 5px;
}

.page-button {
  width: 50%;
  color: white;
  font-weight: bold;
  background-color: blue;
  text-align: center;
  height: 100px;
  width: 100px;
  margin: 1rem;
  border-radius: 15px;
  border: 0.4rem solid yellow;
  box-sizing: border-box;
}

.breadcrumbs {
  color: white;
  font-weight: bold;
}
