<div id="main">
  <div class="titlebar span12">
    {{#link-to 'application' tagName='div'}}
      <img class="logo" src="/images/logo.png"/>
    {{/link-to}}
  </div>
  <div class="container-fluid">
    {{outlet}}
  </div>
</div>
